custom-select {
  display: inline-block;
  position: relative;
}

custom-trigger,
custom-option {
  padding-inline: 0.5ch;
}

custom-trigger {
  display: inline-block;
  border: 1px solid currentColor;
  padding-right: 1.5em;
}

custom-icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

custom-icon > * {
  line-height: 1;
}

custom-group {
  width: 100%;
  display: none;
  position: absolute;

  border: 1px solid currentColor;
}

custom-select[open] custom-group {
  display: block;
}

custom-option {
  white-space: nowrap;
  display: block;
}

custom-option[selected] {
  background-color: #e0e0e0;
}

custom-option:hover:not([disabled]) {
  background-color: #d0d0d0;
}

custom-option[disabled] {
  color: #888;
  background-color: #f0f0f0;
}
